:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 13fr;
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  background-color: #58aff7;
  color: rgb(255, 255, 255);
  padding: 8px;

  grid-row: 1 / span 2;

  display: grid;
  grid-template: auto auto auto / 1fr;
  align-content: start;
  gap: 24px;
}

.sidebar > ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.icon {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.5rem;
  background-color: #fff;
}

header {
  background-color: lightcyan;
}

main {
  background-color: lightblue;

  display: grid;
  grid-template: 50px 1fr 1fr / 3fr 1fr;
  grid-template-areas:
    "profile-bar profile-bar"
    "projects announcements"
    "projects trending";
}

.profile-bar {
  background-color: aqua;
  grid-area: profile-bar;
}

.projects {
  background-color: rgb(216, 216, 216);
  grid-area: projects;
  padding: 40px 8px;

  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr;
  gap: 8px;
}

.project {
  border: 2px solid #333;
}

.announcements {
  background-color: antiquewhite;
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
